body {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    max-width: 100%;
    max-height: fit-content;
}

header {
    display: inline-block;
    justify-content: right;
    text-align: center;
    padding: 10px;
    background-color: darkgreen;
    color: antiquewhite;
    font-size: x-large;
}

h1 {
    font-size: 200%;
    text-align: center;
    line-height: 20px;
    height: 20px;
    margin-top: 40px;
}

nav {
    display: block;
    justify-content: right;
    min-width: 10px;
    text-align: right;
}

nav ul {
    display: block;
    text-align: right;
    text-decoration: underline;
}

a {
    color:navy;
}

a:hover {
    color:white;
}

nav ul li {
    float: right;
    list-style-type: none;
    padding-left: 20px;
}

.spacer {
    background-image: url("../images/Green Pattern.png");
    height: 100px;
    background-repeat: repeat-x;
    background-color: darkgreen;
}

main {
    display: contents;
    padding: 10px;
    background-color: antiquewhite;
    color: black;
}
/*          */
section {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: max-content;
    position: relative;
    top: 0;
}

aside {
    padding: 10px;
    font-size: xx-large;
    background-color: dimgray;
    min-height: 350px;
    text-align: right;
}

content {
    padding: 20px;
    font-size: x-large;
    display: inline;
    margin-top: 20px;
}

content img {
    max-width: 20%;
    height: 400px;
}

content p {
    padding-left: 350px;
    padding-right: 100px;
    line-height: 50px;
}

#contactme {
    min-height: 100px;
}

.projectimages img:first-child {
    max-width: 70%;
}

.contactinfo {
    background-color: lightblue;
    font-size: x-large;
    text-align: center;
}

.contactinfo a {
    display: inline-block;
    padding-top: 25px;
    padding-right: 75px;
    padding-left: 75px;
    font-size: xx-large;

}

content li {
    padding-bottom: 20px;
    padding-left: 20px;
}

.resumesection {
    padding-left: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}

h3 {
    margin-top: 15px;
}

